.button {
  background-color: #ffdddf;
  color: rgb(110, 12, 25);
  border: 2px solid rgb(110, 12, 25);
  border-radius: 10px;
  outline: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.1s linear;
  font-weight: 600;
}
.button:hover {
  background-color: #fff;
  transform: scale(1.03);
}
.button:disabled {
  background-color: gainsboro;
  color: rgba(126, 97, 97, 0.877);
  border: 2px solid rgba(145, 116, 116, 0.61);
  cursor: initial;
}
.button:disabled:hover {
  transform: none;
}
