.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  background-color: rgba(215, 193, 255, 0.84);
  padding: 20px 30px;
  border-radius: 10px;
}
.title {
  align-self: center;
}
.form label {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
}
.field {
  padding: 10px;
  border-radius: 5px;
}
.btn {
  margin-top: 20px;
  align-self: center;
  padding: 10px;
  background-color: #7300ff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: inset 0 0 3px #27013d;
  transition: 0.1s ease;
}
.btn:hover {
  background-color: #fff;
  color: #7300ff;
  transform: scale(1.1);
  transition: 0.1s ease;
  box-shadow: inset 0 0 3px #b10cc0;
}
.error {
  color: #ff4b23;
  padding-top: 3px;
}
.acceptLicence p {
  margin-left: 10px;
}
